fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
google-generativeai==0.5.4
pydantic==1.10.13
pydantic[email]==1.10.13
groq==0.11.0